*.vsidx
*.ipch
*.db
/.vs/CSC8503/FileContentIndex/read.lock
/.vs
/Build
/out/build/x64-Debug
/build
/.idea
/cmake-build-debug-visual-studio
/release
/cmake-build-debug/
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/reply/cache-v2-7aa42aa03b44c70c94fc.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-eb890a775cdd46b1c2c0.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-d4025779aa3147b97613.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
cmake-build-release/.cmake/api/v1/reply/directory-Client-Release-32ce8e758cccb39b8cc7.json
cmake-build-release/.cmake/api/v1/reply/directory-CSC8503CoreClasses-Release-2ee4de21ed7b040fd2ce.json
cmake-build-release/.cmake/api/v1/reply/directory-enet-Release-c2912ea8268c02bc8cf5.json
cmake-build-release/.cmake/api/v1/reply/directory-External-Release-7eb880457d7b45551c8c.json
cmake-build-release/.cmake/api/v1/reply/directory-FreetypeRenderer-Release-6f5e175997cd91cd6e17.json
cmake-build-release/.cmake/api/v1/reply/directory-NCLCoreClasses-Release-f2db015ae7922231cd93.json
cmake-build-release/.cmake/api/v1/reply/directory-NotLua-Release-5b0f5a2724e257e1d365.json
cmake-build-release/.cmake/api/v1/reply/directory-OpenGLRendering-Release-7bfd441e8506152ad447.json
cmake-build-release/.cmake/api/v1/reply/directory-raudio-Release-bbd9e9dd34e7ae773771.json
cmake-build-release/.cmake/api/v1/reply/directory-Replicated-Release-b2c9c8caac797161187d.json
cmake-build-release/.cmake/api/v1/reply/directory-Server-Release-08cc111fca47106482c9.json
cmake-build-release/.cmake/api/v1/reply/index-2024-03-05T13-30-00-0385.json
cmake-build-release/.cmake/api/v1/reply/target-client-Release-fa97678554a1de4167b1.json
cmake-build-release/.cmake/api/v1/reply/target-CSC8503CoreClasses-Release-8a0e95d119b6045bd477.json
cmake-build-release/.cmake/api/v1/reply/target-enet-Release-013a90629e1b1db1d4d8.json
cmake-build-release/.cmake/api/v1/reply/target-external-Release-6f7b409839b4c4db69f6.json
cmake-build-release/.cmake/api/v1/reply/target-freetype-Release-29f91e0fbaaac56b04a4.json
cmake-build-release/.cmake/api/v1/reply/target-lua-Release-c3b301404939f9686d66.json
cmake-build-release/.cmake/api/v1/reply/target-NCLCoreClasses-Release-8d897334f0c14222dd11.json
cmake-build-release/.cmake/api/v1/reply/target-OpenGLRendering-Release-58da11984861acf2261e.json
cmake-build-release/.cmake/api/v1/reply/target-raudio-Release-bc9e689503598f2fe25b.json
cmake-build-release/.cmake/api/v1/reply/target-replicated-Release-dbe2c674a6971edda60c.json
cmake-build-release/.cmake/api/v1/reply/target-server-Release-29e93bb277c9c40c4682.json
cmake-build-release/.cmake/api/v1/reply/target-SpeedFun-Release-15bacd7a4e84496672ba.json
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-2e595e2cd8dfd7dd4155.json
cmake-build-release/build.ninja
cmake-build-release/Client/cmake_install.cmake
cmake-build-release/Client/CMakeFiles/client.dir/cmake_pch.cxx
cmake-build-release/Client/CMakeFiles/client.dir/cmake_pch.hxx
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-release/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.exe
cmake-build-release/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.obj
cmake-build-release/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-release/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/ShowIncludes/foo.h
cmake-build-release/CMakeFiles/ShowIncludes/main.c
cmake-build-release/CMakeFiles/ShowIncludes/main.obj
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CPackConfig.cmake
cmake-build-release/CPackSourceConfig.cmake
cmake-build-release/CSC8503CoreClasses/cmake_install.cmake
cmake-build-release/CSC8503CoreClasses/CMakeFiles/CSC8503CoreClasses.dir/cmake_pch.cxx
cmake-build-release/CSC8503CoreClasses/CMakeFiles/CSC8503CoreClasses.dir/cmake_pch.hxx
cmake-build-release/enet/cmake_install.cmake
cmake-build-release/External/cmake_install.cmake
cmake-build-release/FreetypeRenderer/cmake_install.cmake
cmake-build-release/FreetypeRenderer/CMakeFiles/Export/778b4f54a68e80ec034bf381f364ca2c/freetype-config-release.cmake
cmake-build-release/FreetypeRenderer/CMakeFiles/Export/778b4f54a68e80ec034bf381f364ca2c/freetype-config.cmake
cmake-build-release/FreetypeRenderer/include/freetype/config/ftconfig.h
cmake-build-release/FreetypeRenderer/include/freetype/config/ftoption.h
cmake-build-release/NCLCoreClasses/cmake_install.cmake
cmake-build-release/NotLua/cmake_install.cmake
cmake-build-release/OpenGLRendering/cmake_install.cmake
cmake-build-release/raudio/cmake_install.cmake
cmake-build-release/Replicated/cmake_install.cmake
cmake-build-release/Server/cmake_install.cmake
